<header>
    <nav class="flex items-center justify-between flex-wrap shadow-lg shadow-[#d1b28a] p-6">
        <div class="flex items-center flex-shrink-0 text-white mx-10">
          <span class="font-serif text-2xl tracking-tight text-[#4b2c20]">CoffeeHub</span>
        </div>
        <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
          <div class="text-sm lg:flex-grow">
            <a href="/shoplist" class="block mt-4 lg:inline-block lg:mt-0 text-[#4b2c20] mx-4">
              Toutes nos boutiques
            </a>
            <a href="/coffeelist" class="block mt-4 lg:inline-block lg:mt-0 text-[#4b2c20] mx-4">
              Tous nos cafés
            </a>
          </div>
        </div>
      </nav>
</header>
