<div class="m-12">
    <h1 class="text-[#4B2C20] text-3xl bold font-serif mb-6">Créer un café</h1>

    <form [formGroup]="creation_form" (ngSubmit)="onSubmit()" class="flex flex-col space-y-3">
        <div class="space-x-2">
            <label for="name">
                Nom du café:
            </label>
            <input type="text" id="name" formControlName="name" class="border rounded-lg w-80 border-[#d1b28a] h-10 pl-3"/>
        </div>

        <div class="space-x-2">
            <label for="description">
                Description:
            </label>
            <input type="text" id="description" formControlName="description" class="border rounded-lg w-80 border-[#d1b28a] h-10 pl-3"/>
        </div>

        <div class="border border-[#d1b28a] bg-[#f8f4ef] p-6 rounded-lg mb-6">
            <h2 class="text-[#4B2C20] text-2xl font-serif mb-4">Gestion des ingrédients</h2>
            <div class="space-x-2" formArrayName="ingredients">
                <div *ngFor="let ingredient of ingredients.controls; let i = index" [formGroupName]="i">
                    <div class="mb-4 border-b border-[#d1b28a] pb-4">
                        <div class="space-x-2">
                            <label>Nom de l'ingrédient:</label>
                            <input formControlName="name" type="text" class="border rounded-lg w-80 border-[#d1b28a] h-10 pl-3"/>
                        </div>
        
                        <div class="space-x-2">
                            <input type="checkbox" formControlName="allergen"/>
                            <label>Allergène</label>
                        </div>

                        <div class="flex space-x-4 mt-4">
                            <button type="button" (click)="removeIngredient(i)" class="bg-[#d1b28a] text-[#ffffff] font-serif text-base uppercase text-center p-3 rounded-lg transition-transform transform">Supprimer l'ingrédient</button>
                            <button type="button" (click)="addIngredient()" class="bg-[#4B2C20] text-[#ffffff] font-serif text-base uppercase text-center p-3 rounded-lg transition-transform transform">Ajouter un nouvel ingrédient</button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
        <div class="space-x-2">
            <label for="price">
                Prix:
            </label>
            <input type="number" id="price" formControlName="price" class="border rounded-lg w-80 border-[#d1b28a] h-10 pl-3"/> €
        </div>

        <div *ngIf="shops">
            <fieldset>
                <legend>Sélectionnez les boutiques qui proposent ce café:</legend>
              
                <div *ngFor="let shop of shops" class="space-x-2">
                    <input type="checkbox" id="{{shop.id}}" [value]="shop.id" (change)="onCheckboxChange($event)"/>
                    <label for="{{shop.id}}">{{shop.name}}</label>
                </div>
            </fieldset>
        </div>
        
        <div>
            <button type="submit" class="bg-[#d1b28a] text-[#ffffff] font-serif text-base uppercase text-center p-3 rounded-lg w-60 transition-transform transform mt-6">Créer</button>
        </div>
    </form>
</div>